body {
    background-color: black;
    font-family: 'Courier New', Courier, monospace;
    color: #78beff;
    text-align: center;
    font-size: 1.375rem;
    margin-left: 7cm;
    margin-right: 7cm;
    padding: 0;
}

/* Typewriter animation */
.heading {
    font-size: larger;
    color: #FFC8DD;
    text-decoration: underline;
    overflow: hidden;
    white-space: nowrap;
    margin: 0 auto;
    animation: typing 4s steps(30, end), blink-caret 0.5s step-end infinite;
}

@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

@keyframes blink-caret {
    from, to {
        border-color: transparent;
    }
    50% {
        border-color: #FFC8DD;
    }
}
/* End of animation */


.sub-heading {
    color: #FFC8DD;
    text-decoration: underline;
}


.home-button {
    padding: 2rem;
    text-align: center;
    margin-bottom: 0.6rem;
    color: white;
    background-color: #FFC8DD;
    display: inline-block;
    margin-top: 1rem;
}


a {
    color: black;
}


.list {
    text-align: left;
    margin-left: 10%;
    margin-right: 10%;
}
