body{
    background-color: black;
    font-family:'Courier New', Courier, monospace;
    color: #78beff;
    align-content: center;
    text-align: center;
    font-size: 1.37rem;
    cursor: pointer;
}

header{
    background-color: white;  
    margin-bottom: 50px; 
    height: 100px; 
    display: flex;
    font-family:Georgia, 'Times New Roman', Times, serif;
    align-items: center; 
    flex: content;
    color: #221a1d;
    overflow: hidden;
    text-align: left;
    background-color:#48cae4 ; 
}

nav ul {
    list-style: none;
    padding: 2cm;
    display: flex;
}

nav li {
    margin-left: 20px;
}

nav a {
    color:black;
    text-decoration: none;
}

.footer{
    display: flex;
    justify-content: center;
    margin-top: auto;
    padding: 16px;
    background-color:#1f1f1f;
    color: #ffff;
    font-size: 20px;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: black;
   
}

.heading{
    flex: content;
    color: #221a1d;
    overflow: hidden;
    text-align: left;
    margin-left: 2cm;
}

.main-heading{
    text-decoration: underline;
    font-size: larger;
    color: azure;
    margin-bottom: 1.5cm;
    color: #48cae4;
    font-size:150%;
}

.home-button{
    padding: 1.875rem;
  text-align: center;
  margin-bottom: 0.625rem;
  color:white;
  background-color: #FFC8DD;
}

a{color:#48cae4;}

.list {
    list-style-position: inside;
}

a:hover{
    color: black;
    background-color:#ffd6ff;
    text-decoration: none;
}
